html {
    box-sizing: border-box;
}
body {
    font-family: Open Sans, sans-serif;
    margin: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}

*
*::before,
*::after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container{ 
    width: 1110px;
    margin: o auto;
}

.header {
    width: 1110px;
    margin: 38px auto 0 auto;
    padding-top: 43px;
    /* padding-bottom: 112px; */
}

.main {
    width: 1110px;
    margin: 0 auto;
}

.header-logo{
    /* float: left; */
}

.header-nav{
    float: right;
}

.nav-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav-item {
    float: left;
}

.nav-link{
    float: left;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
    font-weight: 700;
}

.nav-item:not(:last-child)  {
    margin-right: 34px;
}

.nav-link:hover{
    color: #1abc9c;
}

.main-title {
    padding-top: 110px;
    font-family: Roboto, sans-serif;
    color: #515151;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    /* margin: 110px auto 0 auto; */
}

.main-title::after {
    display: block;
    content: '';
    height: 7px;
    width: 164px;
    margin: 0 auto;
    margin-top: 32px;
    background-color: #1abc9c;
}

.featur-product-list {
    margin: 90px auto 0 auto;
    list-style: none;
    padding: 0px;

}
.featur-product-item {
    float: left;
}

.featur-product-item:not(:nth-child(4n)){
    margin-right: 30px;
}

.featur-product-item:nth-child(1n+5) {
    margin-top: 30px;
}

.featur-product-item .item-name {
    font-family: Roboto, sans-serif;
    background-color: #323232;
    float: left;
    height: 100%;
    width: 187px;
    line-height: 40px;
    padding-left: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.featur-product-link {
    text-decoration: none;
    color: #fff;
    position: relative;
}
.featur-product-item .item-cost {
    background-color: #8c8c8c;
    float: left;
    text-align: center;
    height: 100%;
    width: 54px;
    line-height: 40px;
}

.item-position {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 255px;
    height: 40px;
}

.featur-product-link:hover .item-name{
    background: #1abc9c;
    transition: 0.5s linear;
}

.featur-product-link:hover .item-cost {
    background: #7fd9c7;
    transition: 0.5s linear;
}

.news-item {
    margin-top: 110px;
    margin-bottom: 45px;
    float: left;
    width: 350px;
}

.news-item:not(:last-child) {
    margin-right: 30px;
}

.news-item > h3 {
    font-family: Open Sans, sans-serif;
    /* margin-top: 15px; */
    color: #555252;
    font-size: 18px;
}

.news-item h3::after {
    display: block;
    content: '';
    height: 3px;
    width: 136px;
    margin-top: 32px;
    background-color: #1abc9c;
}

.news-item > p {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    margin-top: 30px;
    color: #555252;
}

.news-button {
    padding: 20px 43px;
    background-color: #4ec6ab;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 40px;
    /* margin-top: 20px; */
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.news-button:hover {
    background-color: coral;
    cursor: pointer;
}